<h2 style="font-size:30px"><br>Membership</h2>
<p2 style="font-size:20px">

For our 2013/14 year we welcome 15 new members – <br>
  David and Julia Aldous- Cook, Naomi Aruliah, Mansoureh de Brett, Thelma Drake, Andrew and Gillian Eperson, Geoff Gunton, <br>
  Pam Hudson, Jean Hunt, Yvonne Jessop, Sue Muckle, Liz Swinton, Byron Theo and Barbara Verdie.<br>

  The membership of the Club is currently 78, with 66 primarily playing Croquet and 12 primarily playing Bowls.</p2>

<h3 style="font-size:30px">Club sessions</h3>

<p3 style="font-size:20px">There are Club sessions for Golf Croquet on Tuesday and Wednesday mornings, <br>
Thursday and Sunday afternoons and Wednesday evening. <br>
There is one session for Association Croquet each Sunday morning <br>
  and two sessions for Bowls on Monday and Wednesday afternoons.<br>

Some members have very kindly agreed to try to attend some of the Golf Croquet Club sessions <br>
  on a regular basis so that any member turning up has someone to play with. <br>
  These are normally the Tuesday and Wednesday morning and Thursday afternoon sessions. <br>
  If you arrive at a Club session and there is no one else <br>
  there it is a good opportunity to set the hoops out and do some practice. <br>
 This sort of practice can be very valuable in improving your skills. <br>

Please play on the full lawn when you can as it is much better practice. <br>
  The half lawns should normally only be used when there are more than 8 members at a session.<br></p3>


