<h1>Links to Croquet sites</h1>
<body>
 
<div id ="menu">
<ul>
    <li><a href="http://www.southeastcroquet.org.uk/">THE SOUTH EAST CROQUET FEDERATION </a></li>
    <li><a href="http://www.thecroquetacademy.com/">The Croquet Academy</a>
    <li><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Cornwall Croquet Club Croquet Terminology </a></li>
    
</ul>
   

</div>
 
</body>