<h1>Club Equipment</h1>
<p style="font-size:20px">When you join the Club and start to learn how to play the game you do not need to be involved in any expense as far as equipment is concerned.<br><br>

Initially you can borrow a club mallet and use it until you are sure that you like the game and until you know what sort of mallet you want to buy for your personal use.<br>
  The only requirement to start with is that you should wear flat-soled shoes on the lawn to avoid damage.<br><br>

When you start playing in matches it is suggested that you get "whites" to play in as this is the accepted norm for matches and tournament play<br><br>

Get more information via the <a href="http://winterfell-rails-54110.euw1.actionbox.io/">homepage</a>
</p>
